.panel.panel-default
  .panel-heading
    %h3.panel-title Current Delivery dates
  .panel-body
    - if !@delivery_schedules.empty?
      %table.table.table-bordered
        %tr
          %th Delivery Date
          %th
        - @delivery_schedules.each do |d|
          %tr
            %td
              = d.date
            %td
              .btn-group
                = link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> Edit"), edit_delivery_schedule_path(d), :class => "btn btn-sm btn-default"
                = link_to raw("<i class=\"glyphicon glyphicon-trash\"></i> Delete"), delivery_schedule_path(d), :method => :delete, :data => { :confirm => 'Are you sure?' },  :class => "btn btn-sm btn-default"
    - else
      %p
        No Delivery dates found.
