.panel.panel-default
  .panel-heading
    %h3.panel-title Current Users
  .panel-body
    - if !@users.empty?
      %table.table.table-bordered
        %tr
          %th.col-md-4 User Id
          %th.col-md-4 Name
        - @users.each do |user|
          %tr
            %td.col-md-4
              = user.user_id
            %td.col-md-4
              = user.name
            %td.col-md-4
              = link_to 'Edit', edit_user_path(user), :class => "btn btn-default"
            %td.col-md-4
              = link_to 'Delete',  user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' } ,  :class => "btn btn-default"
    - else
      %p
        No User found.
