<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Current Users</h3>
  </div>
  <div class="panel-body">
    <% if !@users.empty? %>
      <table class="table table-bordered">
        <tr>
          <th> User Id</th>
          <th> Name</th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td> <%= user.user_id %></td>
            <td> <%= user.name  %></td>
            <td> <%= link_to 'Edit', edit_user_path(user.user_id)%></td>
            <td> <%= link_to 'Delete',  "/users/#{user.user_id}", :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>

          </tr>
        <% end %>
      </table>
    <% else %>
      <p>
        No User found. Please add some users.
        Thank you!
      </p>
  <% end %>
  </div>
</div>
