.panel.panel-default
  .panel-heading
    %h3.panel-title= order_headers(@order)
  .panel-body
    - if @order.nil?
      .alert.alert-warning{:role => "alert"}
        %strong No orders for this user
    - else
      = render 'form'