.panel.panel-default
  .panel-heading
    %h3.panel-title Current Orders
  .panel-body
    - if !@orders.empty?
      %table.table.table-bordered
        %tr
          %th User
          %th Product
          %th Quantity
        - @orders.each do |order|
          %tr
            %td
              = order.user.name
            - if order.product.nil?
              %td &nbsp;
              %td &nbsp;
            - else
              %td= order.product.name
              %td
                = pluralize_units(order.quantity, order.product)
    - else
      %p
        No Orders found