<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Current Orders</h3>
  </div>
  <div class="panel-body">
  <% if !@orders.empty? %>
    <table class="table table-bordered">
      <tr>
        <th> User</th>
        <th> Product</th>
        <th> Quantity</th>
      </tr>
      <% @orders.each do |order| %>
          <tr>
            <td> <%= order.user.name %> </td>
            <% if order.product.nil?  %>
              <td> &nbsp;</td>
              <td> &nbsp;</td>
            <% else %>
              <td><%= order.product.name %></td>
              <td> <%= pluralize_units(order.quantity, order.product) %> </td>
             <% end %>
          </tr>
      <% end %>
  </table>

    <% else %>
      <p>
        No Orders found. Please add some orders.
        Thank you!
      </p>
  <% end %>
</div>
</div>
