.panel.panel-default
  .panel-heading
    %h3.panel-title= user_orders_headers(@current_user)
    = link_to  'Change Order', new_user_order_path(@current_user.user_id), :class => "btn btn-default"
  .panel-body
    - if !@orders.empty?
      %table.table.table-bordered
        %tr
          %th Product
          %th Quantity
        - @orders.each do |order|
          %tr
            - if order.product.nil?
              %td &nbsp;
              %td &nbsp;
            - else
              %td= order.product.name
              %td
                = pluralize_units(order.quantity, order.product)
    - else
      %p
        No Orders found