.panel.panel-default
  .panel-heading
    %h3.panel-title Current Orders
  .panel-body
    - if !@orders.empty?
      %table.table.table-bordered{:class => "orders"}
        %tr
          %th Date
          %th Product
          %th User
          %th Quantity
        - @orders.each do |order|
          - order.order_items.each do |item|
            %tr
              %td{:class => "delivery_date"}= item.order.delivery_date
              %td{:class => "product_name"}= item.product_name
              %td{:class => "user_name"}= item.order.user_name
              %td{:class => "quantity"}= item.quantity
    - else
      %p
        No Orders found