.panel.panel-default
  - if !@orders.empty?
    .panel-heading
      %h3.panel-title
        =@orders.first.delivery_date
        \- Current Orders
    .panel-body
      %table.table.table-bordered{:class => "orders"}
        %tr
          %th Product
          %th User
          %th.hidden-xs Quantity
          %th.hidden-sm.hidden-md.hidden-lg Qty
        - @orders.each do |order|
          %tr
            %td{:class => "product_name"}= order.product.name
            %td{:class => "user_name"}= order.user.name
            %td{:class => "quantity"}= order.quantity
  - else
    .panel-body
      %p
        No Orders found
