-# This shows all the orders for the next delivery date
.panel.panel-default
  - if !@orders.nil?
    .panel-heading
      %h3.panel-title
        Next Order:
        =@orders.first.delivery_date

    .panel-body
      %table.table.table-bordered{:class => "orders"}
        %tr
          %th Product
          %th User
          %th.hidden-xs Quantity
          %th.hidden-sm.hidden-md.hidden-lg Qty
          %th 
        - @orders.each do |order|
          %tr
            %td{:class => "product_name"}= order.product_name
            %td{:class => "user_name"}= order.user.name
            %td{:class => "quantity"}= order.quantity
            %td
  - else
    .panel-body
      %p
        No Future Order found
