// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.adminImage {
  border: thin solid blue;
  float: left;
  opacity: 0.6;
  background-image: url("/assets/sparkles.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.adminImage.hidden-xs {
  width: 383px;
  height: 600px;
}

.adminImage.visible-xs-block {
  width: 310px;
  height: 486px;
}

.mainLink {
  a {
    color: black;
    font-size: 16px;
  }
}

.product {
  margin-bottom: 15px;
  padding-left: 5px;
  border: thin solid #d3d3d3;
  border-radius: 4px;
}
